VITE_SUPABASE_PROJECT_ID="khbohprkilegmsedhbya"
VITE_SUPABASE_URL="https://khbohprkilegmsedhbya.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_hFa93asRVxbyOSOBlGCMBA_HqXWxeBJ"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoYm9ocHJraWxlZ21zZWRoYnlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNzcwNzQsImV4cCI6MjA4OTg1MzA3NH0.QnamaQmKPufcDfLGa_8mmN-DKPy4iihV_dW_KWsuEYY"
SUPABASE_DB_PASSWORD="Chuo-kikuu-sda"